<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# If symlinks are not allowed for storage:link, serve files directly
RewriteCond %{REQUEST_URI} ^/storage/ [NC]
RewriteRule ^storage/(.*)$ ../storage/app/public/$1 [L]

# If you are using PHP-FPM via mod_proxy_fcgi and your PHP-FPM is not running as
# an Apache module, you may need to set the following directive. Please confirm
# your setup before uncommenting.
# <FilesMatch "\.php$">
#     SetHandler "proxy:unix:/path/to/php-fpm.sock|fcgi://localhost/"
# </FilesMatch>
